.productContainer{
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
}

.guide{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.userImage{
    width: 4vh;
    height: 4vh;
    border-radius: 100px;
}

.imageDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px
}

.productId{
    text-align: start;
}

.title{
    text-align: center;
}

.priceInputs{
    display: flex;
    flex-direction: column;
}

.restar{
    display: flex;
    margin-left: 40%;
}