.productContainer{
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
}

.guide{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.userImage{
    width: 4vh;
    height: 4vh;
    border-radius: 100px;
}

.imageDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px
}

.productId{
    text-align: start;
}

.title{
    text-align: center;
}

.priceInputs{
    display: flex;
    flex-direction: column;
}

.restar{
    display: flex;
    margin-left: 40%;
}

.buttonHabilidato{
    color:white;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.buttonDeshabilidato:hover{
    background-color: #860e0a;
}

.buttonHabilidato:hover{
    background-color: #126712;
}

.buttonDeshabilidato{
    color:white;
    background-color: #d2322d;
    border-color: #ac2925;
}


.rolUser{
    color:white;
    background-color: #137ec5;
    border-color: #137ec5;
}

.rolUser:hover{
    background-color: #0f69a5;
}

.rolAdmin{
    color:white;
    background-color: #f5f111;
    border-color: #f5f111;
}

.rolAdmin:hover{
    background-color: #d3d011;
}