.container{
  display: flex;
  flex-direction: column;
  background-color: rgb(191, 219, 247);
  width: 250px;
  height: 100vh;
}

.text{
  color: black;
  font-size: 20px;
  white-space: nowrap;
  text-decoration: none;
}

.textContainer{
  margin-top: 10px;
}

